In [1]:
import pandas as pd 
import numpy as np

In [6]:
def get_data(size=10_000_000):
    df=pd.DataFrame()
    df['age']=np.random.randint(18, 100, size=size)
    df['Time_in_bed']=np.random.randint(0, 9, size=size)
    df['favorite food']=np.random.choice(['pizza', 'pasta', 'burger', 'sandwich', 'salad'], size=size)
    df['hate food']=np.random.choice(['broccoli', 'carrot', 'spinach', 'cabbage', 'cauliflower'], size=size)
    df['name']=np.random.choice(['jhon','tom','jane','siri','alexa','dubo'],size=size)
    return df

In [7]:
# %%timeit
get_data()

         age  Time_in_bed favorite food    hate food   name
0         70            1        burger      spinach    tom
1         93            7         pasta      spinach  alexa
2         18            8      sandwich     broccoli  alexa
3         89            0      sandwich       carrot  alexa
4         35            5         pizza      spinach   jhon
...      ...          ...           ...          ...    ...
9999995   21            1        burger     broccoli    tom
9999996   33            6      sandwich     broccoli   jhon
9999997   20            4      sandwich      cabbage   jane
9999998   80            2      sandwich  cauliflower   jane
9999999   54            6      sandwich     broccoli  alexa

[10000000 rows x 5 columns]